@import "../../assets/style/variables.scss";
@import "../../assets/style/mixins.scss";

.discount {
   padding: 2rem 0 20rem;
}

.discountInner {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   border: 3px solid rgba($color-white, 0.3);
   border-radius: 2.5rem;
   position: relative;
}

.film {
   position: relative;
   left: -7rem;
   transform: scale(1.5);

   @include respond(tab-land) {
     left: -4.5rem;
   }

   img {
      width: 17rem;
      object-fit: cover;
      border-radius: 2.5rem;

      @include respond(tab-land) {
         height: 23rem;
         width: 23rem;
      }
   }
}

.playBtn {
   width: 7rem;
   height: 7rem;
   border: 2px solid rgba($color-white, .8);
   border-radius: 50%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: 10;
   display: inline-flex;
   justify-content: center;
   align-items: center;

   @include respond(tab-land) {
      width: 6rem;
      height: 6rem;
   }

   svg {
      width: 2rem;
      height: 3rem;
      margin-left: 7px;
      margin-top: 2px;
      fill: rgba($color-white, .8);
   }
}

.text {
   max-width: 55rem;

   @include respond(tab-land) {
      max-width: 43rem;
   }

   h4 {
      font-size: 3.2rem;
      line-height: 6rem;
      background: linear-gradient(266.28deg, $color-white 29.05%, rgba($color-white, 0.28) 114.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      @include respond(tab-land) {
         font-size: 3rem;
      }
   }

   p {
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 2.2rem;

      @include respond(tab-land) {
         font-size: 1.8rem;
      }
   }
}
