@import "../../assets/style/variables.scss";
@import "../../assets/style/animations.scss";

.card {
   display: block;
   position: relative;
   height: 30rem;
   width: 21.2rem;
   border-radius: 2rem;
   overflow: hidden;

   &:hover .info {
      bottom: 0;
   }

   &:hover .subInfo {
      svg {
         opacity: 1;
         visibility: visible;
      }
   }

   &:hover .play {
      &::before {
         animation: pulse 1.2s linear infinite;
      }

      &::after {
         animation: pulse 1.2s .4s linear infinite;
      }

      svg {
         animation: iconShake 2s linear infinite;
      }
   }
}

.img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.adult {
   position: absolute;
   left: 2.1rem;
   top: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 3.3rem;
   height: 2.8rem;
   background-color: rgba($color-black, .7);
   opacity: .8;
   border-radius: .8rem;
   font-weight: 700;
   font-size: 1.2rem;
   line-height: 1.4rem;
}

.play {
   position: absolute;
   top: 2rem;
   right: 1.6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 4.4rem;
   height: 4.4rem;
   border-radius: 50%;
   background-color: $color-white;

   &::before, &::after {
      content: '';
      position: absolute;
      top: -.5rem;
      bottom: -.5rem;
      left: -.5rem;
      right: -.5rem;
      border-radius: 50%;
      border: 1px solid $color-white;
      opacity: 0;
   }

   svg {
      margin-left: 3px;
   }
}

.date {
   font-weight: 300;
   font-size: 1.6rem;
   line-height: 1.8rem;
   color: $color-gray-2;
}

.info {
   position: absolute;
   bottom: -3rem;
   left: 0;
   right: 0;
   background-color: rgba($color-black, .7);
   padding: 0 1rem 1rem 1rem;
   transition: all .3s;
}

.subInfo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1rem;

   svg {
      opacity: 0;
      visibility: hidden;
      width: 2.2rem;
      height: 1.9rem;
      transition: all .2s;

      &.liked {
         fill: $color-orange;

         path {
            stroke: $color-orange;
         }
      }

      path {
         stroke: $color-white;
         transition: all .2s;
      }

      &:hover path {
         stroke: $color-orange;
      }
   }
}

.title {
   display: inline-block;
   font-weight: 500;
   font-size: 1.9rem;
   line-height: 2.4rem;
   margin-top: 1rem;
   position: relative;
}