@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-105%);
  }
}

@keyframes iconShake {
  0%, 100% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(9deg);
  }
  70% {
    transform: rotate(-7deg);
  }
}

@keyframes animatedHeader {
  0% {
    top: -20vh;
  }
  100% {
    top: 0;
  }
}

@keyframes backgroundMove {
  0% {
    background-position: left;
  }
  100% {
    background-position: center;
  }
}

@keyframes appear {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(.6);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}