@import "./variables.scss";

.container {
  max-width: 123rem;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.underlined {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: .8px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: $color-white;
    transition: all .3s;
    opacity: 1;
  }

  &:hover::after {
    opacity: 0;
  }
}