//Colors
$color-white: #FFF;
$color-black: #000;

$color-gray-1: #D9D9D9;
$color-gray-2: #ADADAD;
$color-gray-3: #646464;
$color-gray-4: #413C3C;
$color-gray-5: #787878;

$color-black-back: #0F1014;
$color-green-back: #07211f;

$color-blue: #00579F;
$color-blue-2: #0567b8;
$color-blue-3: #0778d4;
$color-red: #F93232;
$color-red-2: #ce0707;
$color-pink: #f26464;
$color-orange: #EC8F32;
$color-yellow: #FED049;

//Borders
$main-border: 5rem;
