//Colors
$color-white: #FFF;
$color-black: #000;

$color-gray-1: #D9D9D9;
$color-gray-2: #ADADAD;
$color-gray-3: #646464;
$color-gray-4: #413C3C;

$color-black-back: #0F1014;

$color-blue: #00579F;
$color-red: #F93232;
$color-orange: #EC8F32;
$color-yellow: #FED049;

//Borders
$main-border: 5rem;
