@import "../../assets/style/variables.scss";
@import "../../assets/style/mixins.scss";

.nav {
   font-weight: 500;
   display: inline-block;
   font-size: 3.2rem;
   line-height: 3.7rem;
   color: $color-orange;
   position: relative;
   transition: all .2s;
   cursor: pointer;

   @include respond(tab-land) {
      font-size: 3rem;
   }

   &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 4px;
      background-color: $color-orange;
      transition: all .3s;
      opacity: 1;
   }

   &:hover::after {
      opacity: 0;
   }

   &:not(:first-child) {
      margin-left: 4rem;
   }

   &.active {
      color: $color-white;
      text-decoration: none;

      &::after {
         display: none;
      }
   }
}

.items {
   margin-top: 4rem;
   display: grid;
   grid-template-columns: repeat(5, 21.2rem);
   grid-row-gap: 6rem;
   justify-content: space-between;
   width: 100%;

   @include respond(tab-land) {
      grid-template-columns: repeat(4, 21.2rem);
   }
}