@import "../../assets/style/variables.scss";

.root {
   margin-top: 9.6rem;
}

.nav {
   font-weight: 500;
   font-size: 3.2rem;
   line-height: 3.7rem;
   color: $color-orange;
   text-decoration: underline;

   &:not(:first-child) {
      margin-left: 4rem;
   }

   &.active {
      color: $color-white;
      text-decoration: none;
   }
}

.content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 3.6rem;
}