@import "../../assets/style/variables.scss";
@import "../../assets/style/mixins.scss";
.nav {
   font-weight: 500;
   font-size: 3.2rem;
   line-height: 3.7rem;
   color: $color-orange;
   position: relative;
   transition: all .2s;

   @include respond(tab-land) {
      font-size: 3rem;
   }

   &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 4px;
      background-color: $color-orange;
      transition: all .3s;
      opacity: 1;
   }

   &:hover::after {
      opacity: 0;
   }

   &:not(:first-child) {
      margin-left: 4rem;
   }

   &.active {
      color: $color-white;
      text-decoration: none;

      &::after {
         display: none;
      }
   }
}

.content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 3.6rem;
}