@import "../../assets/style/variables.scss";
@import "../../assets/style/animations.scss";
@import "../../assets/style/mixins.scss";

.about {
   padding: 16rem 0;

   @include respond(tab-land) {
      padding: 13rem 0;
   }
}

.aboutItems {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 3rem;
   margin-bottom: 17rem;
   flex-basis: 58rem;

   @include respond(tab-land) {
      margin-bottom: 13rem;
   }
}

.aboutItem {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 6rem;
   padding: 4.0rem 6.0rem;
   border: 2.5px solid rgba($color-white, 0.3);
   border-radius: 2.5rem;
   transition: box-shadow .3s;

   @include respond(tab-land) {
      padding: 3rem 4rem;
      border: 2px solid rgba(255, 255, 255, 0.3);
   }

   p {
      font-weight: 500;
      font-size: 2.1rem;
      line-height: 2.8rem;

      @include respond(tab-land) {
         font-size: 1.8rem;
         line-height: 2.3rem;
      }
   }
   
   svg {
      flex-shrink: 0;
      transition: all 3s;
   }

   &:hover {
      box-shadow: 0px 8px 25px -10px rgba(255, 255, 255, 1);

      svg {
         animation: iconShake .65s;
      }
   }

}

.companies {
   overflow: hidden;
}

.companiesLinks {
   display: flex;
   animation: scroll 15s linear infinite;
   gap: 0 8rem;

   &:hover {
      animation-play-state: paused;
   }

   div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem 8rem;
   }
}