@import "../../assets/style/variables.scss";
@import "../../assets/style/mixins.scss";
@import "../../assets/style/animations.scss";

.header {
   position: absolute;
   left: 0;
   top: -20vh;
   width: 100%;
   padding: 5rem 0;
   background: rgba($color-black, 0.9);
   opacity: .8;
   font-size: 1.6rem;
   line-height: 1.8rem;
   z-index: 2;
   animation: animatedHeader 1s .3s forwards;

   @include respond(tab-land) {
      padding: 4rem 0;
   }
   
   img {
      display: block;
   }
}

.headerInner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 2rem;
}

.menu {
   margin: 0 auto;

   &.hidden {
      display: none;
   }

   ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem 8rem;

      @include respond(tab-land) {
         gap: 1rem 4rem;
      }
   }
}

.user {
   display: flex;
   gap: 2rem;
}

.logo {
   width: 24.7rem;
   height: 3.1rem;
}