@import "../../assets/style/variables.scss";

.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: 5rem 0;
   background: rgba($color-black, 0.9);
   opacity: .8;
   font-size: 1.6rem;
   line-height: 1.8rem;
   z-index: 2;
   
   img {
      display: block;
   }
}

.headerInner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 2rem;
}

.menu {
   margin: 0 auto;
   ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem 8rem;
   }
   a {
      position: relative;
      &::after {
         content: '';
         position: absolute;
         height: 1px;
         width: 100%;
         left: 0;
         bottom: 0;
         background-color: $color-white;
         transition: all .3s;
         opacity: 1;
      }
      &:hover::after {
         opacity: 0;
      }
   }
}

.search {
   margin-right: 5.5rem;
}

.user {
   display: flex;
   gap: 2rem;
}