@import "../../assets/style/variables.scss";

.swiper-slide {
   display: flex;
   justify-content: center;
}

.swiper:hover {
   .btn-next, .btn-prev {
      opacity: 1;
      visibility: visible;
   }
}

.btn-next, .btn-prev {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 28%;
   z-index: 1000;
   transition: all .3s;

   path {
      transition: all .3s;
   }

   &:disabled {
     path {
      stroke: $color-gray-2;
      opacity: .8;
     }
   }
}

.btn-next {
   right: 2%;
}

.btn-prev {
   left: 2%;
   transform: rotate(180deg);
}
