@import "../../assets/style/variables.scss";

.footer {
   width: 100%;
}

.top {
   padding-top: 5.7rem;
   padding-bottom: 8.2rem;
   display: flex;
   justify-content: space-between;
   border-top: 1px solid $color-gray-4;
}

.lists {
   display: flex;
   justify-content: space-between;
   width: 50%;
}

.listItem {
   a {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 2.5rem;
      color: $color-gray-2;
   }

   h4 {
      font-weight: 700;
      font-size: 2.1rem;
      line-height: 6rem;
      color: $color-gray-1;
   }
}

.line {
   width: 100%;
   height: 1px;
   background: $color-gray-4;
}

.bottom {
   display: flex;
   justify-content: space-between;
   padding-top: 4.3rem;
   padding-bottom: 5rem;
}

.gap {
   display: inline-block;
   width: 1px;
   height: .6rem;
   background: rgba($color-gray-2, .5);
}

.copyright { 
   width: 60%;
   display: flex;
   align-items: center;
   justify-content: space-between;

   p {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.4rem;
      color: $color-gray-2;
   }
}

.links {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 40rem;
   font-weight: 300;
   font-size: 1.2rem;
   line-height: 1.4rem;
   color: $color-gray-2;
}

.logos {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 12rem;
}

.visa {
   fill: $color-gray-3;
   transition: all .1s ease-in;

   &:hover {
      fill: $color-blue;
   }
}

.mastercard {
   circle, path {
      transition: all .1s ease-in;
   }

   &:hover {
      circle {
         fill: $color-red;
      }

      path {
         fill: $color-yellow;
      }
   }
}
