@import "../../assets/style/variables.scss";
@import "../../assets/style/animations.scss";

.search {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-right: 3rem;
   width: 5rem;

   &.active {
      padding: .5rem 1rem .5rem 2.5rem;
      border: 2px solid $color-white;
      border-radius: $main-border;
      width: 51rem;

      .searchInput {
         width: 100%;
         opacity: 1;
         visibility: visible;
      }
   }
}

.searchInput {
   width: 0;
   opacity: 0;
   visibility: hidden;
   font-weight: 300;
   font-size: 1.4rem;
   line-height: 1.6rem;
   color: $color-white;
   background-color: transparent;
   border: none;

   &:focus {
      outline: none;
   }
   
   &::placeholder {
      color: $color-white;
      font-size: 1.4rem;
      line-height: 1.6rem;
   }
}

.searchBtn {
   margin-top: .3rem;
   padding-left: 0.5rem;
   transition: transform .3s;

   &:hover {
      transform: rotate(20deg);
   }
}