@import "../../assets/style/variables.scss";
@import "../../assets/style/animations.scss";

.search {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-right: 3rem;
   width: 5rem;

   &.active {
      padding: .5rem 1rem .5rem 2.5rem;
      border: 2px solid $color-white;
      border-radius: $main-border;
      width: 51rem;
      margin-right: 0;

      .searchInput {
         width: 100%;
         opacity: 1;
         visibility: visible;
      }
   }
}

.searchInput {
   width: 0;
   opacity: 0;
   visibility: hidden;
   font-weight: 300;
   font-size: 1.4rem;
   line-height: 1.6rem;
   color: $color-white;
   background-color: transparent;
   border: none;

   &:focus {
      outline: none;
   }
   
   &::placeholder {
      color: $color-white;
      font-size: 1.4rem;
      line-height: 1.6rem;
   }
}

.searchBtn {
   margin-top: .3rem;
   padding-left: 0.5rem;
   transition: transform .3s;

   &:hover {
      transform: rotate(20deg);
   }
}

.list {
   position: absolute;
   top: 103%;
   left: 0;
   right: 0;
   border-radius: 1rem;
   background-color: rgba($color-black, .8);
   max-height: 30rem;
   overflow: scroll;
}

.item {
   min-height: 10rem;
   width: 100%;
   display: flex;
   cursor: pointer;
   padding-right: 2rem;
   transition: all .3s;

   &:hover {
      background-color: rgba($color-blue, .2);
   }

   &:not(:first-child) {
      margin-top: 1rem;
   }

   img {
      height: 100%;
      width: 7rem;
      align-self: center;
   }

   .info {
      margin-left: 2rem;
      margin-top: 2rem;

      h3 {
         font-size: 1.7rem;
         opacity: .9;
      }
   
      p {
         font-size: 1.3rem;
         margin-top: .5rem;
         opacity: .9;
      }

      span {
         font-weight: 300;
         font-size: 1.2rem;
         color: $color-gray-2;
      }
   }
}