.search {
   position: relative;
   width: 100%;
   display: none;
}

.searchInput {
   width: 100%;
   padding: 1rem 5rem 1rem 2.5rem;
   background-color: transparent;
   border: 2px solid #FFFFFF;
   border-radius: 5rem;
   font-weight: 300;
   font-size: 1.4rem;
   line-height: 1.6rem;
   color: #FFFFFF;
   &::placeholder {
      color: #FFFFFF;
      font-size: 1.4rem;
      line-height: 1.6rem;
   }
}

.searchBtn {
   position: absolute;
   right: 2rem;
   top: 50%;
   transform: translateY(-50%);
}