.App {
   position: relative;
   min-height: 100vh;
}

.banner {
   height: 100vh;
   width: 100%;
}

.slide {
   height: 100%;
   width: 100%;
   min-width: 100%;
   max-width: 100%;
   background-image: url("./assets/img/slider-1.webp");
   background-position: center;
   background-size: cover;
   display: flex;
   align-items: center;
}

.slideInner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 7rem;
}

.slideTitle {
   font-weight: 700;
   font-size: 6.2rem;
   line-height: 6rem;
   background: linear-gradient(266.28deg, #FFFFFF 29.05%, rgba(255, 255, 255, 0.42) 114.96%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

.slideText {
   font-weight: 500;
   font-size: 2.4rem;
   line-height: 2.8rem;
   max-width: 55rem;
   margin-top: 1.4rem;
}

.slideBtn {
   width: 24.8rem;
   height: 7.9rem;
   background-color: #EC8F32;
   border-radius: 5rem;
   font-weight: 700;
   font-size: 2.4rem;
   line-height: 2.8rem;
   color: #FFFFFF;
   transition: all .2s ease-in;
   position: relative;
   z-index: 10;

   &::before {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      transform: scale(1);
      background-color: #EC8F32;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
   }

   &:hover {
      opacity: .85;

      &::before {
         transform: scale(1.2);
         opacity: 0;
      }
   }
}