@import "./assets/style/variables.scss";
@import "./assets/style/mixins.scss";
@import "./assets/style/animations.scss";

.App {
   position: relative;
   min-height: 100vh;
}

.wrapper {
   margin-top: 9.7rem;

   @include respond(tab-land) {
      margin-top: 8rem;
   }
}

.tabList {
   display: grid;
   grid-template-columns: repeat(5, 21.2rem);
   justify-content: space-between;
   width: 100%;

   @include respond(tab-land) {
      grid-template-columns: repeat(4, 21.2rem);
   }
}