@import "./assets/style/variables.scss";
@import "./assets/style/mixins.scss";

.App {
   position: relative;
   min-height: 100vh;
}

.wrapper {
   margin-top: 9.7rem;

   @include respond(tab-land) {
      margin-top: 8rem;
   }
}

.banner {
   height: 100vh;
   width: 100%;
}

.slide {
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   display: flex;
   align-items: center;

   &1 {
      background-image: url("./assets/img/slider1-1x.webp");

      @media only screen and (min-resolution: 192dpi) and (min-width: 50em), (min-width: 125em) {
         background-image: url("./assets/img/slider1-2x.webp");
      }
   }
   &2 {
      background-image: url("./assets/img/slider2-1x.webp");

      @media only screen and (min-resolution: 192dpi) and (min-width: 50em), (min-width: 125em) {
         background-image: url("./assets/img/slider2-2x.webp");
      }
   }
   &3 {
      background-image: url("./assets/img/slider3-1x.webp");

      @media only screen and (min-resolution: 192dpi) and (min-width: 50em), (min-width: 125em) {
         background-image: url("./assets/img/slider3-2x.webp");
      }
   }
}

.slideInner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 7rem;

   @include respond(tab-land) {
      margin-top: 4rem;
   }
}

.slideTitle {
   font-weight: 700;
   font-size: 6.2rem;
   line-height: 6rem;
   background: linear-gradient(266.28deg, $color-white 29.05%, rgba($color-white, 0.42) 114.96%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;

   @include respond(tab-land) {
      font-size: 5.8rem;
      line-height: 5.6rem;
   }
}

.slideText {
   font-weight: 500;
   font-size: 2.4rem;
   line-height: 2.8rem;
   max-width: 55rem;
   margin-top: 1.4rem;

   @include respond(tab-land) {
      font-size: 2.2rem;
      line-height: 2.6rem;
   }
}

.tabList {
   display: grid;
   grid-template-columns: repeat(5, 21.2rem);
   justify-content: space-between;
   width: 100%;

   @include respond(tab-land) {
      grid-template-columns: repeat(4, 21.2rem);
   }
}