@import "../../assets/style/mixins.scss";
@import "../../assets/style/animations.scss";
@import "../../assets/style/variables.scss";

.banner {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.slide {
   height: 100%;
   max-width: 100%;
   min-width: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   display: flex;
   align-items: center;
   
   &.active {
      animation: backgroundMove 3s forwards;

      .slideTitle {
         animation: appear 1s .2s forwards;
         opacity: 0;
         visibility: hidden;
      }

      .slideText {
         animation: appear 1s .5s forwards;
         opacity: 0;
         visibility: hidden;
      }
   }
}

.slideInner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 7rem;

   @include respond(tab-land) {
      margin-top: 4rem;
   }
}

.slideInfo {
   max-width: 55rem;
   opacity: .9;
}

.slideTitle {
   font-weight: 700;
   font-size: 6.2rem;
   line-height: 6rem;
   color: $color-white;

   @include respond(tab-land) {
      font-size: 5.8rem;
      line-height: 5.6rem;
   }
}

.slideText {
   font-weight: 500;
   font-size: 2.4rem;
   line-height: 2.8rem;
   max-width: 55rem;
   margin-top: 1.4rem;

   @include respond(tab-land) {
      font-size: 2.2rem;
      line-height: 2.6rem;
   }
}