@import "../../assets/style/mixins.scss";
@import "../../assets/style/animations.scss";
@import "../../assets/style/variables.scss";

.banner {
   height: 100vh;
   width: 100%;
}

.slide {
   height: 100%;
   max-width: 100%;
   min-width: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   display: flex;
   align-items: center;
   
   &.active {
      animation: backgroundMove 3s forwards;

      .slideTitle {
         animation: appear 1s .2s forwards;
         opacity: 0;
         visibility: hidden;
      }

      .slideText {
         animation: appear 1s .5s forwards;
         opacity: 0;
         visibility: hidden;
      }
   }

   &1 {
      background-image: url("../../assets/img/slider1-1x.webp");
      flex-grow: 1;

      @media only screen and (min-resolution: 192dpi) and (min-width: 50em), (min-width: 125em) {
         background-image: url("../../assets/img/slider1-2x.webp");
      }
   }
   &2 {
      flex-grow: 1;
      background-image: url("../../assets/img/slider2-1x.webp");

      @media only screen and (min-resolution: 192dpi) and (min-width: 50em), (min-width: 125em) {
         background-image: url("../../assets/img/slider2-2x.webp");
      }
   }
   &3 {
      flex-grow: 1;
      background-image: url("../../assets/img/slider3-1x.webp");

      @media only screen and (min-resolution: 192dpi) and (min-width: 50em), (min-width: 125em) {
         background-image: url("../../assets/img/slider3-2x.webp");
      }
   }
}

.slideInner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 7rem;

   @include respond(tab-land) {
      margin-top: 4rem;
   }
}

.slideTitle {
   font-weight: 700;
   font-size: 6.2rem;
   line-height: 6rem;
   background: linear-gradient(266.28deg, $color-white 29.05%, rgba($color-white, 0.42) 114.96%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;

   @include respond(tab-land) {
      font-size: 5.8rem;
      line-height: 5.6rem;
   }
}

.slideText {
   font-weight: 500;
   font-size: 2.4rem;
   line-height: 2.8rem;
   max-width: 55rem;
   margin-top: 1.4rem;

   @include respond(tab-land) {
      font-size: 2.2rem;
      line-height: 2.6rem;
   }
}